{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://img/favicon.png') }}" />
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Open+Sans:300,400,600" rel="stylesheet">
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/main.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://bower_components/scrollmagic/scrollmagic/minified/ScrollMagic.min.js', {'priority':90, 'pipeline':false, 'group':'bottom'})%}
        {% do assets.addJs('theme://js/pin_nav.js', {'priority':85, 'pipeline':true, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/dropdown.js', {'priority':86, 'pipeline':true, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/mobile_dropdown.js', {'priority':87, 'pipeline':true, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/responsive-tables.js', {'priority':88, 'pipeline':true, 'group':'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">
  <div id="nav-trigger"></div>
    {% block main_nav %}
      {% include 'partials/navigation.html.twig' %}
    {% endblock %}
    <div class="page-content">
      {% block body %}
        {% block content %}{% endblock %}
      {% endblock %}
    </div>
  {% block footer %}
      <footer>
          {% include 'partials/footer.html.twig' %}
      </footer>
  {% endblock %}
  {% block bottom %}
      {{ assets.js('bottom') }}
  {% endblock %}
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2525613.js"></script>
<!-- End of HubSpot Embed Code -->

</body>
