{% macro price_tier(title, price, onboarding, tag) %}

  <h2 class="price-compare__tiers__tier__title">{{title}}</h2>
  <hr class="solid-rule"></hr>
  <div class="price-compare__tiers__tier__details-section">
    <p class="price-compare__tiers__tier__price">
      {{price}}
    </p>
    <p class="price-compare__tiers__tier__onboarding">
      {{onboarding}}
    </p>
    <p class="price-compare__tiers__tier__tag">
      {{tag}}
    </p>
  </div>
{% endmacro %}

{% macro tp_list(summary, body) %}
  <h3 class="tp-list__item__summary">{{summary}}</h3>
  <hr class="solid-rule"></hr>
  <div class="tp-list__item__body">
    {{body}}
  </div>
{% endmacro %}
